# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.DS_Store

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
test-results/
functional-test-results/
.testmondata

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
/staticfiles/

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Functional Test ENV files
*.mb.env
*.mb.json
*.local.env

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# VS Code project settings
.vscode

# mkdocs documentation
/site

# mypy
.mypy_cache/

# idea files
.idea

# celery beat pid file
celerybeat.pid

# Platform credential files
keys*.json

# Migration rollback file
migration-rollback.sh

# NetSuite WSDL dump
netsuite_wsdl.txt

# Jupyter Notebook
jupyter/
*.ipynb

# ctags
tags

# vim
*.vim
*.vimspector.*
pyrightconfig.json

# Used in the mypy pre-commit (see Makefile)
mypy-guard
